// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: $text-font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $text-color;
  text-decoration: none;

  @include on-event {
    color: $brand-color;
    text-decoration: underline;
  }
}
