$text-font-stack: 'Avenir', Helvetica, Arial, sans-serif !default;
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$text-color: rgb(34, 34, 34) !default;
$brand-color: rgb(24,167,82) !default;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;
$max-width: 1180px !default;
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
